/* This partial contains variables used across the site */

/*** FONTS ***/

/*  Font - Typefaces */
$sans-serif:  "Open Sans", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$mono: 'Source Code Pro', Courier, mono;

/* Font - Weights */

$light: 300;
$normal: 400;
$semibold: 500;